<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icp.wastemanagementsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <activity
            android:name=".Navigation"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BarcodeCaptureActivity"
            android:label="Scan Barcode"
            android:theme="@style/AppTheme"/>
        <activity android:name=".BarcodeChoiceAcitivty"
            android:label="Set Barcode Options"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".SignUpForm"
            android:label="Sign Up Form"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Stakeholders"
            android:label="Stakeholders"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignInForm"
            android:label="Sign In Form"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Dashboard"
            android:label="Dashboard"
            android:theme="@style/AppTheme" />
    </application>

</manifest>